.dropdown-menu {
  pointer-events: none;
}

/* Style for the dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
  pointer-events: auto;

}


/* .navbar-brand img {
  transition: transform 0.4s ease, filter 0.3s ease;
} */

/* .navbar-brand img:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
} */



/* Style for the dropdown items */
.dropdown-menu a:hover {
  background-color: rgb(103, 103, 238) !important;
  /* Change the background color on hover */
  color: white;
  /* Change the text color on hover */
}

/* Style for the navigation items */
.nav-item {
  margin-right: 15px;
  /* Adjust the spacing as needed */
}

/* Style for the brand logo */
.navbar-brand img {
  background-color: transparent;
  margin-left: 10px;
  width: 140px;
  /* Adjust the size as needed */
  /* height: 80px; */
  margin-right: 10px;
  /* opacity: 0.3;*/
}

.navbar {
  height: 80px;
  /* Adjust the height as needed */
  position: fixed;
  width: 100%;
  /* Ensures the navbar spans the full width of the viewport */
  top: 0;
  /* Keeps the navbar fixed at the top */
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  /* background-color: #fff; */
}

.nav-link {
  color: black;
  /* Set the font color to black */
}

.form-control {
  border-radius: 10px;
  transition: box-shadow 0.3s;
  /* Add transition for smooth effect */
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 93, 213, 0.25);
  /* Change shadow color to #215dd5 on focus */
}

.btn:hover {
  background-color: #215dd5;
  /* Change background color on hover */
  color: #fff;
  /* Change text color on hover */
}