<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/Brand-logo.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Trinity-Chart
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="live-analysis">Live Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blogs</a>
          </li>
          <li class="nav-item dropdown dropdown-hover">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Calculators
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Advance GANN SQ of 9</a></li>
              <li><a class="dropdown-item" href="#">GANN SQ of 9</a></li>
              <li><a class="dropdown-item" href="#">GANN S/R</a></li>
              <li><a class="dropdown-item" href="#">Hexagon S/R </a></li>
              <li><a class="dropdown-item" href="#">GANN FanAngle</a></li>
              <li><a class="dropdown-item" href="#">Elliott Wave</a></li>
              <li><a class="dropdown-item" href="#">Fibonacci Retracement</a></li>
              <li><a class="dropdown-item" href="#">Pivot Point</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Time Calculators
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">GANN Intraday Reversal Time</a></li>
              <li><a class="dropdown-item" href="#">GANN Important Date </a></li>
              <li><a class="dropdown-item" href="#">GANN Pressure Dates </a></li>
              <li><a class="dropdown-item" href="#">GANN Dynamic Dates</a></li>
              <li><a class="dropdown-item" href="#">GANN Time Cycle</a></li>
              <li><a class="dropdown-item" href="#">GANN Monthly Dates</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>