<div class="blog">
    <div class="calc-in-ctn">
        <div class="rec-blog">
            This portion will be used for showing blog recommendations
        </div>
    </div>
    <div class="blog-main-ctn">
        <div class="blog-top-ctn">

        </div>

        <div class="blog-list-ctn">

            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>
            <blog-card></blog-card>

        </div>

    </div>
    <div class="calc-in-ctn">
        <div class="rec-blog">
            This portion will be used for showing blog recommendations
        </div>
    </div>
</div>