<div class="head-ctn">
    <!-- Page Hero : Start here -->
    <div class="heading-ctn">
        <h1 id="page-heading" class="heading-text">
            {{Title}}
        </h1>
    </div>
    <div class="head-underline"></div>
    <!-- Page Hero : End here -->

    <!-- Space for ADS : Start Here -->
    <div class="ads-ctn">
        <div class="ad-728-90">Space for ADS</div>
    </div>
    <!-- Space for ADS : End Here -->

    <div class="intro-ctn">
        <h2 id="brief-1">
            {{brief1}}
        </h2>
        <h3 id="brief-2">
            {{brief2}}
        </h3>
    </div>
</div>